.threads {
  width: 90%;
  margin: 10px auto;
  height: 50%;
  overflow: scroll;
  background-color: #fff;
  z-index: 1;

  &__item {
    cursor: pointer;
    border-radius: 10px;
    display: flex;
    box-shadow: 0 0 10px #c0c0c0;
    padding: 10px;
    width: 90%;
    max-width: 300px;
    margin: 20px auto;
    align-items: center;
    transition: 0.3s ease-in;
    background-color: #fff;
    position: relative;

    p {
      font-size: 16px;
      letter-spacing: 2px;
      font-weight: normal;
      text-transform: uppercase;
      padding-left: 30px;
    }

    img {
      width: 50px;
      height: 50px;
      border-radius: 50%;
    }

    small {
      position: absolute;
      top: 10px;
      right: 10px;
      color: #c0c0c0;
    }
  }

  &__item:hover {
    transition: 0.3s ease-in;
    transform: scale(1.05);
    box-shadow: 0 0 10px #ea9c5c;
  }
}
