.messagearea {
  flex: 0.75;
  height: 100vh;

  &__messages {
    height: 83%;
    width: 100%;
    padding: 20px;
    display: flex;
    flex-direction: column;
    overflow: scroll;
  }

  &__bottom {
    width: 100%;
    padding: 10px;
    height: 10%;
    z-index: 4;

    form {
      height: 100%;
      width: 100%;
      display: flex;
      justify-content: space-around;
      align-items: center;

      button {
        border: none;
        width: 150px;
        height: 50px;
        border-radius: 50px;
        cursor: pointer;
        box-shadow: 0 0 7px #c0c0c0;
        transition: all 0.3s ease;
        text-transform: uppercase;
        letter-spacing: 2px;
        font-weight: lighter;
        text-align: center;
        background-color: #fff;
      }
      button:hover {
        transition: all 0.3s ease;
        box-shadow: 0 0 12px #ea9c5c;
        transform: translateY(-5px);
        transform: scale(1.05);
      }

      .file_upload {
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
        width: 60px;
        height: 60px;
        position: relative;
      }

      .file_upload_dot {
        position: absolute;
        width: 5px;
        height: 5px;
        border-radius: 50%;
        background-color: #50a3f3;
        content: '';
        top: 5px;
        right: 40%;
        box-shadow: 0 0 10px #50a3f3;
      }

      .custom-file-upload {
        padding: 10px;
        border-radius: 10px;
        border: none;
        cursor: pointer;
        transition: all 0.3s ease;
        width: 60px;
        height: 60px;
        content: '';
        background-position: center;
        background-repeat: no-repeat;
        background-size: 70%;
      }

      .custom-file-upload:hover {
        transition: all 0.3s ease;
        background-image: url('../../../../imgs/Hover/clip.svg') !important;
      }

      input[type='file'] {
        display: none;
      }

      .audiobutton {
        width: 50px;
        height: 50px;
        border-radius: 50%;
        background-repeat: no-repeat;
        background-position: center;
        background-size: 50%;
        transition: all 0.3s ease;
        box-shadow: 0 0 10px #616161;
      }
      .audiobutton:hover {
        transition: all 0.3s ease;
        animation: animatedMicro 3s linear infinite;
        background-image: url('../../../../imgs/Hover/micro.svg') !important;
      }
      .audiobuttonMobile {
        width: 40px;
        height: 40px;
        border-radius: 50%;
        background-repeat: no-repeat;
        background-position: center;
        background-size: 50%;
        transition: all 0.3s ease;
        box-shadow: 0 0 10px #616161;
        transform: scale(1);
      }
      .audiobuttonMobile:hover {
        transition: all 0.3s ease;
        transform: scale(1.5);
        animation: animatedMicro 3s linear infinite;
        background-image: url('../../../../imgs/Hover/micro.svg') !important;
      }
    }

    input {
      width: 50%;
      height: 40px;
      border: none;
      background-color: #fff;
      border-radius: 10px;
      box-shadow: 0 0 6px #c0c0c0;
      outline: none;
      padding-left: 10px;
    }

    .emoji {
      position: absolute;
      bottom: 70px;
      right: 20px;
    }
    .emoji-btn {
      width: 60px;
      height: 60px;
      padding: 10px;
      cursor: pointer;
      transition: all 0.3s ease;
      content: '';
      background-position: center;
      background-repeat: no-repeat;
      background-size: 70%;
    }
    .emoji-btn:hover {
      transition: all 0.3s ease;
      background-image: url('../../../../imgs/Hover/smile.svg') !important;
    }
  }

  .plug {
    display: flex;
    flex-direction: column;
    width: 100%;
    height: 100%;
    align-items: center;
    justify-content: space-around;

    .neu {
      width: 50%;
      height: 50%;
      background: #fff;
      display: flex;
      align-items: center;
      justify-content: center;
      margin-top: 20px;
    }

    .neu_shap {
      box-shadow: 0 0 16px #e7e7e7 inset;
      border-radius: 50%;
    }
    .neu_inner {
      margin: 50px;
      width: 200px;
      height: 200px;
      border-radius: 50%;
      background: #fff;
      display: flex;
      align-items: center;
      justify-content: center;
      box-shadow: inset 8px 8px 16px #f4f4f4, inset -8px -8px 16px #f4f4f4;
    }

    .neu_inner {
      width: 200px;
      height: 200px;
      box-shadow: 8px 8px 16px #f4f4f4, -8px -8px 16px #f4f4f4;
    }

    .neu_ball {
      position: absolute;
      height: 300px;
      width: 50px;
      display: flex;
      justify-content: space-between;
      flex-direction: column;
    }
    .neu_ball::before {
      content: '';
      border-radius: 50%;
      width: 44px;
      height: 44px;
      position: relative;
      top: 3px;
      box-shadow: 0 0 15px #c0c0c0;
      background-color: #fff;
    }
    .neu_ball::after {
      top: auto;
      bottom: 3px;
    }
    .neu_ball:nth-child(1) {
      animation: spin 10s ease-in-out infinite;
      z-index: 4;
    }

    .neu_ball:nth-child(2) {
      animation: spin 10s 0.04s ease-in-out infinite;
      z-index: 3;
      opacity: 0.5;
    }

    .neu_ball:nth-child(3) {
      animation: spin 10s 0.08s ease-in-out infinite;
      z-index: 3;
      opacity: 0.3;
    }
    @keyframes spin {
      0% {
        transform: rotate(0deg);
      }
      100% {
        transform: rotate(1440deg);
      }
    }

    p {
      text-transform: uppercase;
      color: #6a6a6a;
      letter-spacing: 2px;
      font-size: 16px;
    }
  }
}

@keyframes animatedMicro {
  0% {
		box-shadow: 0 0 0 0 rgba(139, 182, 255, 0.7);
    border-radius: 30% 70% 80% 20% / 30% 57% 43% 70%;
  }
  25% {
		box-shadow: 0 0 0 10px rgba(0, 0, 0, 0);
    border-radius: 15% 85% 24% 76% / 74% 17% 83% 26%;
  }
  50% {
		box-shadow: 0 0 0 10px rgba(139, 182, 255, 0.7);
    border-radius: 48% 52% 43% 57% / 14% 48% 52% 86%;
  }
  75% {
		box-shadow: 0 0 0 10px rgba(0, 0, 0, 0);
    border-radius: 61% 39% 14% 86% / 66% 66% 34% 34%;
  }
  100% {
		box-shadow: 0 0 0 10px rgba(0, 0, 0, 0);
    border-radius: 30% 70% 80% 20% / 30% 57% 43% 70%;
  }
}

audio{
  margin-top: 10px;
}
audio::-webkit-media-controls-panel{
  background-color: rgba(152, 152, 152, 0.039);
}

