.message {
  display: flex;
  border-radius: 10px;
  width: fit-content;
  height: fit-content;
  align-items: center;
  justify-content: space-between;
  margin: 5px 0;
  padding: 15px 10px 5px 10px;
  position: relative;
  min-width: 200px;
  max-width: 80%;
  align-items: flex-start;

  &__content {
    width: 90%;
    p {
      padding-top: 10px;
      overflow: hidden !important;
      white-space: inherit !important;
      word-break: break-all;
    }
  }
  img {
    width: 35px;
    border-radius: 50%;
    background-color: #c0c;
    margin: 10px;
  }

  &__displayName {
    position: absolute;
    top: 5px;
    font-size: 14px;
    color: #c0c0c0;
  }

  &__content_img {
    width: 100px !important;
    border-radius: 10px !important;
  }

  &__wrapper {
    width: 100%;
    display: flex;
    flex-direction: row;
    height: fit-content;
  }
}
