.modal-moreactions {
  width: 200px;
  height: 140px;
  position: absolute;
  top: 10px;
  right: 10px;
  border-radius: 10px;
  box-shadow: 0 0 5px #c0c0c0;
  background-color: #fff;
  transition: all .4s ease-out;
  z-index: 2;

  .close {
    width: 20px;
    position: absolute;
    top: 5px;
    right: 5px;
  }
  ul{
    width: 100%;
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin: 0 auto;

    li{
      padding: 2.5px 0;
      list-style: none;
      font-size: 14px;
      text-transform: uppercase;
      letter-spacing: 2px;
      display: flex;
      align-items: center;
      width: 75%;
      margin: 5px auto;
      justify-content: space-around;
      cursor: pointer;
      transition: .3s ease;
      padding: 5px;
      
      img{
        width: 20px;
      }
    }

    li:hover{
      transition: .3s ease;
      box-shadow: 0 0 3px #c0c0c0;
      border-radius: 10px;
    }
  }
}
