.messenger {
  width: 100vw;
  height: 100vh;
  display: flex;
  align-items: center;
}
.sidebar__close-mobile {
  display: none;
}

@media screen and (max-width: 425px) {
  .sidebar {
    flex: none;
    width: 90%;
  }
  .sidebar__close-mobile {
    display: block;
    width: 40px;
    height: 40px;
    background-repeat: no-repeat;
    background-position: center;
    background-size: 70%;
  }
  .messagearea {
    flex: none;
    width: 100vw;
    height: 100vh;
  }
  .back-icon {
    display: none;
  }
  .emoji-btn{
    display: none;
  }
}
