.light__background {
  background-color: #fff !important;
}
.light__shadow {
  box-shadow: 0 0 2px #eaeaea !important;
}
.light__color{
    color: #000;
}

.dark__background {
  background-color: #1a222c !important;
}
.dark__shadow {
  box-shadow: 0 0 2px #24303f !important;
}
.dark__color{
    color: #fff;
}