.sidebar {
  height: 100%;
  flex: 0.25;
  box-shadow: 2px 0 10px #eaeaea;
  position: relative;
  z-index: 1;
  transition: all 0.3s ease;
  background-color: #fff;

  &__top {
    display: flex;
    align-items: center;
    flex-direction: column;
    z-index: inherit;
    background-color: #fff;

    .user-info {
      display: flex;
      align-items: center;
      margin: 10px auto 20px auto;
      width: 90%;
      justify-content: space-around;

      img {
        width: 50px;
        border-radius: 50%;
      }
    }
    .neumorph__button {
      margin: 10px 0;
    }
    input {
      width: 80%;
      margin: 10px 0;
      height: 40px;
      padding-left: 5px;
      border-radius: 10px;
      border: none;
      box-shadow: 0 0 10px #c0c0c0;
      outline: none;
    }
  }

  &__bottom {
    display: flex;
    align-items: center;
    width: 100%;
    justify-content: space-around;
    bottom: 0;
    height: 90px;
    position: absolute;
    background-color: #fff;

    .bottom-btn {
      cursor: pointer;
      width: 50px;
      height: 50px;
      border-radius: 10px;
      padding: 10px;
      box-shadow: 0 0 15px #c0c0c0;
      transition: all 0.3s ease;
      background-position: center;
      background-repeat: no-repeat;
      background-size: 70%;
    }
    .bottom-btn:hover {
      transition: all 0.3s ease;
      transform: scale(1.2);
    }
    &_logout:hover {
      background-image: url('../../../../imgs/Hover/logout.svg') !important;
    }
    &_settings:hover {
      background-image: url('../../../../imgs/Hover/settings.svg') !important;
    }
  }
}

